body{background-color: burlywood ;}
img{
    height: 260px;
  transform: translate(550px,-80px) rotateX(10deg)

}
li{display: inline;
  text-align: center;
  
}
a{padding: 20px;
background-color: cornflowerblue;
}